.block-feature {
	align-items: center;
	background-color: $red;
	background-image: linear-gradient(45deg, #e6134d 30%, #ed0844);
	color: white;
	display: flex;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100vw;

	.container {
		display: flex;
		flex-direction: column;
		z-index: 1;
	}
	@media screen and ( max-width: 676px ) {
		height: auto;
		padding-top: 200px;
	}
}

.block-feature__bg-image {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

	svg {
	    width: 1690px;
	    z-index: 0;
	    fill: #ec3355;
	    position: absolute;
	    right: -640px;
	    bottom: -950px;
	    transform: rotateZ(-4deg);

	    @media screen and ( max-width: 425px ) {
		    width: 644px;
		    right: 10%;
		    top: auto;
		    transform: rotateZ(72deg);
		    bottom: -393px;
	    }
	}
}


.block-feature__headline {
	font-family: $font-headline;
	font-size: 48px;
	letter-spacing: -.02em;
	margin-bottom: 48px;
	margin-top: -56px;
	position: relative;
	width: 70%;

	// &::after {
	//     bottom: -47px;
	//     content: "";
	//     display: block;
	//     height: 2px;
	//     left: 3px;
	//     margin: 0 auto;
	//     position: absolute;
	//     right: auto;
	//     width: 110px;
	//     background-color: white;
	// }

	@media screen and ( max-width: 991px ) {
		width: 100%;
	}	

	@media screen and ( max-width: 767px ) {
		font-size: 30px;
    	line-height: 38px;
	}	

	@media screen and ( min-width: 767px ) and ( max-width: 991px ) {
		font-size: 42px;
    	line-height: 56px;
	}
}

#block-feature__menu {
	ul {
		display: flex;
    	align-items: center;
    	flex-direction: row-reverse;

    	@media screen and ( max-width: 767px ) {
    		flex-direction: column-reverse;
    		align-items: flex-start;
    		padding-left: 0;
    	}
	}

	li:last-child {
		a {
			margin-right: 40px;
			opacity: 1;
			&:hover {
				text-decoration: none;
			}
		}
	}

	li {
		@media screen and ( max-width: 767px ) {
			display:none;
			&:last-child {
				display: block;
			}
		}
	}

	a {
		color: white;
		opacity: .7;
		&:hover {
			text-decoration: underline;
		}
	}
}
    

.block-feature__button, #menu-item-7812 a, #menu-item-7737 a, #block-feature__menu li:last-child a {
	background-color: #fff;
	border-radius: 100px;
	color: $red;
	font-family: $font-link;
	font-size: 22px !important;
	letter-spacing: .08em;
	padding: 15px 40px;
	text-align: center;
	text-transform: uppercase;
	width: 306px;

	@media screen and ( max-width: 676px ) {
		width: 100%;
		font-size: 18px;
	}	

	@media screen and ( max-width: 676px ) {
		padding: 15px 20px;
	}
}

.block-feature__image, .block-feature__image svg {
	fill: #b91139;
	width: 100%;
    max-width: 950px;

    @media screen and ( max-width: 991px ) {
    	width: 140%;
    }
}
.block-feature__image-container {
	display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 65%;
    top: -60px;
    width: 70%;
    align-items: center;
    height: 100%;

	@media screen and ( max-width: 991px ) {
		margin-right: -32%;
		margin-top: 100px;
		position: static;
		max-width: none;
		margin-left: auto;
		width: 120%;
	}	
	@media screen and ( max-width: 425px ) {
		margin-right: auto;
	    margin-top: 50px;
	    position: static;
	    max-width: none;
	    margin-left: -71%;
	    width: 120%;
	    margin-bottom: 50px;
	}
}

.section__image-container {
	img {
		@media screen and ( min-width: 767px ) {
			max-width: none;
		    position: absolute;
		    right: 70px;
		    margin-top: -280px;
	    }
	}

	&.section__image-container-right {
		img {
			left: 0;
			right: auto;
			top: -56px;
		}
	}
}

.feature--large {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .parallax-title:after {
	    bottom: -35px;
	}

    @media screen and ( min-width: 425px ) {
    	// margin-top: 90px;
    }
    @media screen and ( max-width: 767px ) {
    	border-bottom: 1px dashed #ddd;
    	margin-top: 0;
    	margin-bottom: 0 !important;
    }
}

#section__responsive-website {
	
	@media screen and ( max-width: 425px ) {
		overflow: hidden;

		.row {
		    display: flex;
		    flex-direction: column-reverse;
		}

		img {	
			margin-top: 0;
		    max-width: 131%;
		    margin-bottom: -100px;
		    margin-left: -132px;
		}		
	}
}
#section__brand-identity {
	margin-bottom: 140px;
	z-index: 2;
	img {
		margin-top: -220px;
		max-width: none;

		@media screen and ( max-width: 425px ) {
		    margin-top: -70px;
		    max-width: 200%;
		    margin-bottom: -65px;
		}
	}

	@media screen and ( max-width: 425px ) {
		margin-bottom: 75px;
	}	
	
}
#section-about {
	z-index: 1;
}