.testimonial-item {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: 100%;

	.testimonial-content {
		text-align: justify;

		p {
			color: #888;
			font-size: 15px;
			line-height: 25px;
		}
	} 

	.author-info-box {
		display: flex;
	} 

	.author-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		> p {
			margin-bottom: 0;
    		line-height: 25px;
		}
	}  

	.testimonial-img {
		$D: 50px;
		height: $D;
		margin: 0 20px 0 0;
		width: $D;
	}
}
