.section-contact {

    input {
    	height: 50px !important;
    	padding-left: 20px;

    	&[type="button"] {
    		color: white;
    	}
    }

    textarea {
	    padding-left: 20px;
	    padding-top: 10px;
	}

    @media screen and ( max-width: 767px ) {

    }
}

#section-contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100007;
    background-color: white;
    top: 0;
    transition: opacity .3s;
    left: 15px;
    opacity: 0;
    padding-top: 150px;
    z-index: -1;

    > div {
    	max-width: 700px;
    	width: 100%;
    }

    input {
    	height: 50px;
    	padding-left: 20px;

    	&[type="button"] {
    		color: white;
    	}
    }

    textarea {
	    padding-left: 20px;
	    padding-top: 10px;
	}

    @media screen and ( max-width: 767px ) {
    	height: 100%;
    	padding-top: 50px;
    	position: absolute;
    	p {
    		display: none;
    	}
    }
}
.state--show-contact-form {
	#section-contact {
		opacity: 1;
	    z-index: 100;

	}
	section:not(#section-contact) {
	    display: none;
	}
}