$red: #e8114a;
$red_light: #ec3355;
$red_text: #ffa9b9;
$aqua: #16c1cf;

$font-headline: acumin-pro-wide, helvetica, sans-serif !important;
$font-copy: acumin-pro, helvetica, sans-serif !important;
$font-link: acumin-pro-extra-condensed, helvetica, sans-serif !important;