.component-feature-ctas {
	display: flex;
	align-items: center;
	margin: 30px 0;

	.component-button--main {
		border-color: #555;
	    color: #555;
	    height: 50px;
	    width: auto;
	    padding: 11px 40px;

		&:hover {
			background-color: #555 !important;
			color: white !important; 
		}
	}

	.component-button--link {
		color: #555;

		&:hover {
			color: #aaa;
		}
	}
}