.component-list-item-link {
	.features-icon {
	    background-color: #16c1cf;
	    color: #fff !important;
	    padding: 5px;
	    font-size: 22px !important;
	    top: 4px !important;
	}
	.list-desc {
	    margin-left: 40px !important;
	}
	.features-list-inner {
	    margin-bottom: 35px;
	    position: relative;
	}
}