@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;        
	font-style: normal;
}
.flaticon-33:before {
	content: "\e000";
}
.flaticon-accessory10:before {
	content: "\e001";
}
.flaticon-accessory9:before {
	content: "\e002";
}
.flaticon-add186:before {
	content: "\e003";
}
.flaticon-add52:before {
	content: "\e004";
}
.flaticon-addition12:before {
	content: "\e005";
}
.flaticon-aeroplane10:before {
	content: "\e006";
}
.flaticon-aim2:before {
	content: "\e007";
}
.flaticon-airplane128:before {
	content: "\e008";
}
.flaticon-airplane17:before {
	content: "\e009";
}
.flaticon-airplane67:before {
	content: "\e00a";
}
.flaticon-alcohol51:before {
	content: "\e00b";
}
.flaticon-align10:before {
	content: "\e00c";
}
.flaticon-align13:before {
	content: "\e00d";
}
.flaticon-apartment3:before {
	content: "\e00e";
}
.flaticon-arrow395:before {
	content: "\e00f";
}
.flaticon-arrow398:before {
	content: "\e010";
}
.flaticon-attachment7:before {
	content: "\e011";
}
.flaticon-baker20:before {
	content: "\e012";
}
.flaticon-bakery9:before {
	content: "\e013";
}
.flaticon-bathtub6:before {
	content: "\e014";
}
.flaticon-bed25:before {
	content: "\e015";
}
.flaticon-bell6:before {
	content: "\e016";
}
.flaticon-bicycle14:before {
	content: "\e017";
}
.flaticon-big100:before {
	content: "\e018";
}
.flaticon-black179:before {
	content: "\e019";
}
.flaticon-blogger:before {
	content: "\e01a";
}
.flaticon-blogger8:before {
	content: "\e01b";
}
.flaticon-bottom4:before {
	content: "\e01c";
}
.flaticon-bread:before {
	content: "\e01d";
}
.flaticon-briefcase9:before {
	content: "\e01e";
}
.flaticon-browser5:before {
	content: "\e01f";
}
.flaticon-buddhism4:before {
	content: "\e020";
}
.flaticon-buddhism7:before {
	content: "\e021";
}
.flaticon-building:before {
	content: "\e022";
}
.flaticon-building30:before {
	content: "\e023";
}
.flaticon-building36:before {
	content: "\e024";
}
.flaticon-bulb11:before {
	content: "\e025";
}
.flaticon-buy4:before {
	content: "\e026";
}
.flaticon-cake29:before {
	content: "\e027";
}
.flaticon-calendar48:before {
	content: "\e028";
}
.flaticon-call10:before {
	content: "\e029";
}
.flaticon-cap3:before {
	content: "\e02a";
}
.flaticon-car164:before {
	content: "\e02b";
}
.flaticon-car97:before {
	content: "\e02c";
}
.flaticon-cargo13:before {
	content: "\e02d";
}
.flaticon-cent2:before {
	content: "\e02e";
}
.flaticon-center3:before {
	content: "\e02f";
}
.flaticon-chef19:before {
	content: "\e030";
}
.flaticon-chef20:before {
	content: "\e031";
}
.flaticon-chinese-food5:before {
	content: "\e032";
}
.flaticon-city21:before {
	content: "\e033";
}
.flaticon-city3:before {
	content: "\e034";
}
.flaticon-cloud79:before {
	content: "\e035";
}
.flaticon-cloud81:before {
	content: "\e036";
}
.flaticon-cocktail6:before {
	content: "\e037";
}
.flaticon-code7:before {
	content: "\e038";
}
.flaticon-computer43:before {
	content: "\e039";
}
.flaticon-construction17:before {
	content: "\e03a";
}
.flaticon-constructor4:before {
	content: "\e03b";
}
.flaticon-cookies2:before {
	content: "\e03c";
}
.flaticon-cooking30:before {
	content: "\e03d";
}
.flaticon-correct7:before {
	content: "\e03e";
}
.flaticon-covered16:before {
	content: "\e03f";
}
.flaticon-covered18:before {
	content: "\e040";
}
.flaticon-crane8:before {
	content: "\e041";
}
.flaticon-crane9:before {
	content: "\e042";
}
.flaticon-credit20:before {
	content: "\e043";
}
.flaticon-cross37:before {
	content: "\e044";
}
.flaticon-culturist:before {
	content: "\e045";
}
.flaticon-cup38:before {
	content: "\e046";
}
.flaticon-cutlery22:before {
	content: "\e047";
}
.flaticon-cutlery23:before {
	content: "\e048";
}
.flaticon-disabled1:before {
	content: "\e049";
}
.flaticon-dollars17:before {
	content: "\e04a";
}
.flaticon-donation1:before {
	content: "\e04b";
}
.flaticon-donation2:before {
	content: "\e04c";
}
.flaticon-donation3:before {
	content: "\e04d";
}
.flaticon-dove3:before {
	content: "\e04e";
}
.flaticon-drink69:before {
	content: "\e04f";
}
.flaticon-drink76:before {
	content: "\e050";
}
.flaticon-drinking6:before {
	content: "\e051";
}
.flaticon-dropper7:before {
	content: "\e052";
}
.flaticon-dumbbell17:before {
	content: "\e053";
}
.flaticon-dumbbells6:before {
	content: "\e054";
}
.flaticon-equalizer2:before {
	content: "\e055";
}
.flaticon-familiar17:before {
	content: "\e056";
}
.flaticon-fan12:before {
	content: "\e057";
}
.flaticon-fan3:before {
	content: "\e058";
}
.flaticon-fashion11:before {
	content: "\e059";
}
.flaticon-film22:before {
	content: "\e05a";
}
.flaticon-fire34:before {
	content: "\e05b";
}
.flaticon-flat15:before {
	content: "\e05c";
}
.flaticon-flower211:before {
	content: "\e05d";
}
.flaticon-flowers14:before {
	content: "\e05e";
}
.flaticon-fragrance:before {
	content: "\e05f";
}
.flaticon-fruit32:before {
	content: "\e060";
}
.flaticon-fruit41:before {
	content: "\e061";
}
.flaticon-geography9:before {
	content: "\e062";
}
.flaticon-glass35:before {
	content: "\e063";
}
.flaticon-google116:before {
	content: "\e064";
}
.flaticon-hair11:before {
	content: "\e065";
}
.flaticon-hammer33:before {
	content: "\e066";
}
.flaticon-hand220:before {
	content: "\e067";
}
.flaticon-hand227:before {
	content: "\e068";
}
.flaticon-hand70:before {
	content: "\e069";
}
.flaticon-hands12:before {
	content: "\e06a";
}
.flaticon-hat27:before {
	content: "\e06b";
}
.flaticon-headphone2:before {
	content: "\e06c";
}
.flaticon-headset3:before {
	content: "\e06d";
}
.flaticon-health3:before {
	content: "\e06e";
}
.flaticon-heartbeat:before {
	content: "\e06f";
}
.flaticon-herbal1:before {
	content: "\e070";
}
.flaticon-hierarchy4:before {
	content: "\e071";
}
.flaticon-hospitals1:before {
	content: "\e072";
}
.flaticon-hot-food:before {
	content: "\e073";
}
.flaticon-hot56:before {
	content: "\e074";
}
.flaticon-house194:before {
	content: "\e075";
}
.flaticon-house196:before {
	content: "\e076";
}
.flaticon-house201:before {
	content: "\e077";
}
.flaticon-ice52:before {
	content: "\e078";
}
.flaticon-ice60:before {
	content: "\e079";
}
.flaticon-insurance2:before {
	content: "\e07a";
}
.flaticon-insurance4:before {
	content: "\e07b";
}
.flaticon-international11:before {
	content: "\e07c";
}
.flaticon-joystick4:before {
	content: "\e07d";
}
.flaticon-jump9:before {
	content: "\e07e";
}
.flaticon-key195:before {
	content: "\e07f";
}
.flaticon-kitchen84:before {
	content: "\e080";
}
.flaticon-layers4:before {
	content: "\e081";
}
.flaticon-lifeline5:before {
	content: "\e082";
}
.flaticon-linkedin11:before {
	content: "\e083";
}
.flaticon-list26:before {
	content: "\e084";
}
.flaticon-lock23:before {
	content: "\e085";
}
.flaticon-logotype1:before {
	content: "\e086";
}
.flaticon-logotype42:before {
	content: "\e087";
}
.flaticon-love7:before {
	content: "\e088";
}
.flaticon-massage2:before {
	content: "\e089";
}
.flaticon-medical8:before {
	content: "\e08a";
}
.flaticon-mic8:before {
	content: "\e08b";
}
.flaticon-mic9:before {
	content: "\e08c";
}
.flaticon-minus104:before {
	content: "\e08d";
}
.flaticon-minus65:before {
	content: "\e08e";
}
.flaticon-monitor24:before {
	content: "\e08f";
}
.flaticon-mouse19:before {
	content: "\e090";
}
.flaticon-move13:before {
	content: "\e091";
}
.flaticon-musculous:before {
	content: "\e092";
}
.flaticon-nail2:before {
	content: "\e093";
}
.flaticon-natural3:before {
	content: "\e094";
}
.flaticon-ninja11:before {
	content: "\e095";
}
.flaticon-operatingsystem25:before {
	content: "\e096";
}
.flaticon-paper-cup:before {
	content: "\e097";
}
.flaticon-pinterest34:before {
	content: "\e098";
}
.flaticon-plate13:before {
	content: "\e099";
}
.flaticon-power30:before {
	content: "\e09a";
}
.flaticon-printer37:before {
	content: "\e09b";
}
.flaticon-quesadilla:before {
	content: "\e09c";
}
.flaticon-realestate5:before {
	content: "\e09d";
}
.flaticon-real-state:before {
	content: "\e09e";
}
.flaticon-real-state1:before {
	content: "\e09f";
}
.flaticon-reddit7:before {
	content: "\e0a0";
}
.flaticon-rent5:before {
	content: "\e0a1";
}
.flaticon-restaurant26:before {
	content: "\e0a2";
}
.flaticon-ribbon61:before {
	content: "\e0a3";
}
.flaticon-ring28:before {
	content: "\e0a4";
}
.flaticon-rings4:before {
	content: "\e0a5";
}
.flaticon-roadsign18:before {
	content: "\e0a6";
}
.flaticon-ruler9:before {
	content: "\e0a7";
}
.flaticon-scale8:before {
	content: "\e0a8";
}
.flaticon-school31:before {
	content: "\e0a9";
}
.flaticon-sedan4:before {
	content: "\e0aa";
}
.flaticon-shutdown1:before {
	content: "\e0ab";
}
.flaticon-signboard:before {
	content: "\e0ac";
}
.flaticon-social140:before {
	content: "\e0ad";
}
.flaticon-socialnetwork164:before {
	content: "\e0ae";
}
.flaticon-socialnetwork171:before {
	content: "\e0af";
}
.flaticon-spa10:before {
	content: "\e0b0";
}
.flaticon-spa21:before {
	content: "\e0b1";
}
.flaticon-spa22:before {
	content: "\e0b2";
}
.flaticon-special1:before {
	content: "\e0b3";
}
.flaticon-speech44:before {
	content: "\e0b4";
}
.flaticon-stethoscope:before {
	content: "\e0b5";
}
.flaticon-stethoscope8:before {
	content: "\e0b6";
}
.flaticon-stick5:before {
	content: "\e0b7";
}
.flaticon-suckers:before {
	content: "\e0b8";
}
.flaticon-sweet9:before {
	content: "\e0b9";
}
.flaticon-swimming24:before {
	content: "\e0ba";
}
.flaticon-tag26:before {
	content: "\e0bb";
}
.flaticon-thin16:before {
	content: "\e0bc";
}
.flaticon-train30:before {
	content: "\e0bd";
}
.flaticon-transport328:before {
	content: "\e0be";
}
.flaticon-transport371:before {
	content: "\e0bf";
}
.flaticon-transport66:before {
	content: "\e0c0";
}
.flaticon-triangular46:before {
	content: "\e0c1";
}
.flaticon-trolley:before {
	content: "\e0c2";
}
.flaticon-trolleybuses:before {
	content: "\e0c3";
}
.flaticon-twitter1:before {
	content: "\e0c4";
}
.flaticon-twitter20:before {
	content: "\e0c5";
}
.flaticon-two400:before {
	content: "\e0c6";
}
.flaticon-umbrellas8:before {
	content: "\e0c7";
}
.flaticon-videos:before {
	content: "\e0c8";
}
.flaticon-violin2:before {
	content: "\e0c9";
}
.flaticon-visa2:before {
	content: "\e0ca";
}
.flaticon-wedding11:before {
	content: "\e0cb";
}
.flaticon-weight4:before {
	content: "\e0cc";
}
.flaticon-weightlifter3:before {
	content: "\e0cd";
}
.flaticon-wine47:before {
	content: "\e0ce";
}
.flaticon-woman55:before {
	content: "\e0cf";
}
.flaticon-worker5:before {
	content: "\e0d0";
}
.flaticon-zoom22:before {
	content: "\e0d1";
}