@font-face {
	font-family: 'icomoonpack2';
	src:url('../fonts/icomoonpack2.eot?1mp7f1');
	src:url('../fonts/icomoonpack2.eot?#iefix1mp7f1') format('embedded-opentype'),
		url('../fonts/icomoonpack2.ttf?1mp7f1') format('truetype'),
		url('../fonts/icomoonpack2.woff?1mp7f1') format('woff'),
		url('../fonts/icomoonpack2.svg?1mp7f1#icomoonpack2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon2-"], [class*=" icomoon2-"] {
	font-family: 'icomoonpack2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icomoon2-type:before {
	content: "\e600";
}
.icomoon2-box:before {
	content: "\e601";
}
.icomoon2-archive:before {
	content: "\e602";
}
.icomoon2-envelope:before {
	content: "\e603";
}
.icomoon2-email:before {
	content: "\e604";
}
.icomoon2-files:before {
	content: "\e605";
}
.icomoon2-uniE606:before {
	content: "\e606";
}
.icomoon2-file-settings:before {
	content: "\e607";
}
.icomoon2-file-add:before {
	content: "\e608";
}
.icomoon2-file:before {
	content: "\e609";
}
.icomoon2-align-left:before {
	content: "\e60a";
}
.icomoon2-align-right:before {
	content: "\e60b";
}
.icomoon2-align-center:before {
	content: "\e60c";
}
.icomoon2-align-justify:before {
	content: "\e60d";
}
.icomoon2-file-broken:before {
	content: "\e60e";
}
.icomoon2-browser:before {
	content: "\e60f";
}
.icomoon2-windows:before {
	content: "\e610";
}
.icomoon2-window:before {
	content: "\e611";
}
.icomoon2-folder:before {
	content: "\e612";
}
.icomoon2-folder-add:before {
	content: "\e613";
}
.icomoon2-folder-settings:before {
	content: "\e614";
}
.icomoon2-folder-check:before {
	content: "\e615";
}
.icomoon2-wifi-low:before {
	content: "\e616";
}
.icomoon2-wifi-mid:before {
	content: "\e617";
}
.icomoon2-wifi-full:before {
	content: "\e618";
}
.icomoon2-connection-empty:before {
	content: "\e619";
}
.icomoon2-connection-25:before {
	content: "\e61a";
}
.icomoon2-connection-50:before {
	content: "\e61b";
}
.icomoon2-connection-75:before {
	content: "\e61c";
}
.icomoon2-connection-full:before {
	content: "\e61d";
}
.icomoon2-list:before {
	content: "\e61e";
}
.icomoon2-grid:before {
	content: "\e61f";
}
.icomoon2-uniE620:before {
	content: "\e620";
}
.icomoon2-battery-charging:before {
	content: "\e621";
}
.icomoon2-battery-empty:before {
	content: "\e622";
}
.icomoon2-battery-25:before {
	content: "\e623";
}
.icomoon2-battery-50:before {
	content: "\e624";
}
.icomoon2-battery-75:before {
	content: "\e625";
}
.icomoon2-battery-full:before {
	content: "\e626";
}
.icomoon2-settings:before {
	content: "\e627";
}
.icomoon2-arrow-left:before {
	content: "\e628";
}
.icomoon2-arrow-up:before {
	content: "\e629";
}
.icomoon2-arrow-down:before {
	content: "\e62a";
}
.icomoon2-arrow-right:before {
	content: "\e62b";
}
.icomoon2-reload:before {
	content: "\e62c";
}
.icomoon2-refresh:before {
	content: "\e62d";
}
.icomoon2-volume:before {
	content: "\e62e";
}
.icomoon2-volume-increase:before {
	content: "\e62f";
}
.icomoon2-volume-decrease:before {
	content: "\e630";
}
.icomoon2-mute:before {
	content: "\e631";
}
.icomoon2-microphone:before {
	content: "\e632";
}
.icomoon2-microphone-off:before {
	content: "\e633";
}
.icomoon2-book:before {
	content: "\e634";
}
.icomoon2-checkmark:before {
	content: "\e635";
}
.icomoon2-checkbox-checked:before {
	content: "\e636";
}
.icomoon2-checkbox:before {
	content: "\e637";
}
.icomoon2-paperclip:before {
	content: "\e638";
}
.icomoon2-download:before {
	content: "\e639";
}
.icomoon2-tag:before {
	content: "\e63a";
}
.icomoon2-trashcan:before {
	content: "\e63b";
}
.icomoon2-search:before {
	content: "\e63c";
}
.icomoon2-zoomin:before {
	content: "\e63d";
}
.icomoon2-zoomout:before {
	content: "\e63e";
}
.icomoon2-chat:before {
	content: "\e63f";
}
.icomoon2-chat-1:before {
	content: "\e640";
}
.icomoon2-chat-2:before {
	content: "\e641";
}
.icomoon2-chat-3:before {
	content: "\e642";
}
.icomoon2-comment:before {
	content: "\e643";
}
.icomoon2-calendar:before {
	content: "\e644";
}
.icomoon2-bookmark:before {
	content: "\e645";
}
.icomoon2-email2:before {
	content: "\e646";
}
.icomoon2-heart:before {
	content: "\e647";
}
.icomoon2-enter:before {
	content: "\e648";
}
.icomoon2-cloud:before {
	content: "\e649";
}
.icomoon2-book2:before {
	content: "\e64a";
}
.icomoon2-star:before {
	content: "\e64b";
}
.icomoon2-clock:before {
	content: "\e64c";
}
.icomoon2-printer:before {
	content: "\e64d";
}
.icomoon2-home:before {
	content: "\e64e";
}
.icomoon2-flag:before {
	content: "\e64f";
}
.icomoon2-meter:before {
	content: "\e650";
}
.icomoon2-switch:before {
	content: "\e651";
}
.icomoon2-forbidden:before {
	content: "\e652";
}
.icomoon2-lock:before {
	content: "\e653";
}
.icomoon2-unlocked:before {
	content: "\e654";
}
.icomoon2-unlocked2:before {
	content: "\e655";
}
.icomoon2-users:before {
	content: "\e656";
}
.icomoon2-user:before {
	content: "\e657";
}
.icomoon2-users2:before {
	content: "\e658";
}
.icomoon2-user2:before {
	content: "\e659";
}
.icomoon2-bullhorn:before {
	content: "\e65a";
}
.icomoon2-share:before {
	content: "\e65b";
}
.icomoon2-screen:before {
	content: "\e65c";
}
.icomoon2-phone:before {
	content: "\e65d";
}
.icomoon2-phone-portrait:before {
	content: "\e65e";
}
.icomoon2-phone-landscape:before {
	content: "\e65f";
}
.icomoon2-tablet:before {
	content: "\e660";
}
.icomoon2-tablet-landscape:before {
	content: "\e661";
}
.icomoon2-laptop:before {
	content: "\e662";
}
.icomoon2-camera:before {
	content: "\e663";
}
.icomoon2-microwaveoven:before {
	content: "\e664";
}
.icomoon2-creditcards:before {
	content: "\e665";
}
.icomoon2-calculator:before {
	content: "\e666";
}
.icomoon2-bag:before {
	content: "\e667";
}
.icomoon2-diamond:before {
	content: "\e668";
}
.icomoon2-drink:before {
	content: "\e669";
}
.icomoon2-shorts:before {
	content: "\e66a";
}
.icomoon2-vcard:before {
	content: "\e66b";
}
.icomoon2-sun:before {
	content: "\e66c";
}
.icomoon2-bill:before {
	content: "\e66d";
}
.icomoon2-coffee:before {
	content: "\e66e";
}
.icomoon2-uniE66F:before {
	content: "\e66f";
}
.icomoon2-newspaper:before {
	content: "\e670";
}
.icomoon2-stack:before {
	content: "\e671";
}
.icomoon2-mapmarker:before {
	content: "\e672";
}
.icomoon2-map:before {
	content: "\e673";
}
.icomoon2-support:before {
	content: "\e674";
}
.icomoon2-uniE675:before {
	content: "\e675";
}
.icomoon2-barbell:before {
	content: "\e676";
}
.icomoon2-stopwatch:before {
	content: "\e677";
}
.icomoon2-atom:before {
	content: "\e678";
}
.icomoon2-syringe:before {
	content: "\e679";
}
.icomoon2-health:before {
	content: "\e67a";
}
.icomoon2-bolt:before {
	content: "\e67b";
}
.icomoon2-pill:before {
	content: "\e67c";
}
.icomoon2-bones:before {
	content: "\e67d";
}
.icomoon2-lab:before {
	content: "\e67e";
}
.icomoon2-clipboard:before {
	content: "\e67f";
}
.icomoon2-mug:before {
	content: "\e680";
}
.icomoon2-bucket:before {
	content: "\e681";
}
.icomoon2-select:before {
	content: "\e682";
}
.icomoon2-graph:before {
	content: "\e683";
}
.icomoon2-crop:before {
	content: "\e684";
}
.icomoon2-image:before {
	content: "\e685";
}
.icomoon2-cube:before {
	content: "\e686";
}
.icomoon2-bars:before {
	content: "\e687";
}
.icomoon2-chart:before {
	content: "\e688";
}
.icomoon2-pencil:before {
	content: "\e689";
}
.icomoon2-measure:before {
	content: "\e68a";
}
.icomoon2-eyedropper:before {
	content: "\e68b";
}
.icomoon2-mobile:before {
	content: "\e000";
}
.icomoon2-laptop2:before {
	content: "\e001";
}
.icomoon2-desktop:before {
	content: "\e002";
}
.icomoon2-tablet2:before {
	content: "\e003";
}
.icomoon2-phone2:before {
	content: "\e004";
}
.icomoon2-document:before {
	content: "\e005";
}
.icomoon2-documents:before {
	content: "\e006";
}
.icomoon2-search2:before {
	content: "\e007";
}
.icomoon2-clipboard2:before {
	content: "\e008";
}
.icomoon2-newspaper2:before {
	content: "\e009";
}
.icomoon2-notebook:before {
	content: "\e00a";
}
.icomoon2-book-open:before {
	content: "\e00b";
}
.icomoon2-browser2:before {
	content: "\e00c";
}
.icomoon2-calendar2:before {
	content: "\e00d";
}
.icomoon2-presentation:before {
	content: "\e00e";
}
.icomoon2-picture:before {
	content: "\e00f";
}
.icomoon2-pictures:before {
	content: "\e010";
}
.icomoon2-video:before {
	content: "\e011";
}
.icomoon2-camera2:before {
	content: "\e012";
}
.icomoon2-printer2:before {
	content: "\e013";
}
.icomoon2-toolbox:before {
	content: "\e014";
}
.icomoon2-briefcase:before {
	content: "\e015";
}
.icomoon2-wallet:before {
	content: "\e016";
}
.icomoon2-gift:before {
	content: "\e017";
}
.icomoon2-bargraph:before {
	content: "\e018";
}
.icomoon2-grid2:before {
	content: "\e019";
}
.icomoon2-expand:before {
	content: "\e01a";
}
.icomoon2-focus:before {
	content: "\e01b";
}
.icomoon2-edit:before {
	content: "\e01c";
}
.icomoon2-adjustments:before {
	content: "\e01d";
}
.icomoon2-ribbon:before {
	content: "\e01e";
}
.icomoon2-hourglass:before {
	content: "\e01f";
}
.icomoon2-lock2:before {
	content: "\e020";
}
.icomoon2-megaphone:before {
	content: "\e021";
}
.icomoon2-shield:before {
	content: "\e022";
}
.icomoon2-trophy:before {
	content: "\e023";
}
.icomoon2-flag2:before {
	content: "\e024";
}
.icomoon2-map2:before {
	content: "\e025";
}
.icomoon2-puzzle:before {
	content: "\e026";
}
.icomoon2-basket:before {
	content: "\e027";
}
.icomoon2-envelope2:before {
	content: "\e028";
}
.icomoon2-streetsign:before {
	content: "\e029";
}
.icomoon2-telescope:before {
	content: "\e02a";
}
.icomoon2-gears:before {
	content: "\e02b";
}
.icomoon2-key:before {
	content: "\e02c";
}
.icomoon2-paperclip2:before {
	content: "\e02d";
}
.icomoon2-attachment:before {
	content: "\e02e";
}
.icomoon2-pricetags:before {
	content: "\e02f";
}
.icomoon2-lightbulb:before {
	content: "\e030";
}
.icomoon2-layers:before {
	content: "\e031";
}
.icomoon2-pencil2:before {
	content: "\e032";
}
.icomoon2-tools:before {
	content: "\e033";
}
.icomoon2-tools-2:before {
	content: "\e034";
}
.icomoon2-scissors:before {
	content: "\e035";
}
.icomoon2-paintbrush:before {
	content: "\e036";
}
.icomoon2-magnifying-glass:before {
	content: "\e037";
}
.icomoon2-circle-compass:before {
	content: "\e038";
}
.icomoon2-linegraph:before {
	content: "\e039";
}
.icomoon2-mic:before {
	content: "\e03a";
}
.icomoon2-strategy:before {
	content: "\e03b";
}
.icomoon2-beaker:before {
	content: "\e03c";
}
.icomoon2-caution:before {
	content: "\e03d";
}
.icomoon2-recycle:before {
	content: "\e03e";
}
.icomoon2-anchor:before {
	content: "\e03f";
}
.icomoon2-profile-male:before {
	content: "\e040";
}
.icomoon2-profile-female:before {
	content: "\e041";
}
.icomoon2-bike:before {
	content: "\e042";
}
.icomoon2-wine:before {
	content: "\e043";
}
.icomoon2-hotairballoon:before {
	content: "\e044";
}
.icomoon2-globe:before {
	content: "\e045";
}
.icomoon2-genius:before {
	content: "\e046";
}
.icomoon2-map-pin:before {
	content: "\e047";
}
.icomoon2-dial:before {
	content: "\e048";
}
.icomoon2-chat2:before {
	content: "\e049";
}
.icomoon2-heart2:before {
	content: "\e04a";
}
.icomoon2-cloud2:before {
	content: "\e04b";
}
.icomoon2-upload:before {
	content: "\e04c";
}
.icomoon2-download2:before {
	content: "\e04d";
}
.icomoon2-target:before {
	content: "\e04e";
}
.icomoon2-hazardous:before {
	content: "\e04f";
}
.icomoon2-piechart:before {
	content: "\e050";
}
.icomoon2-speedometer:before {
	content: "\e051";
}
.icomoon2-global:before {
	content: "\e052";
}
.icomoon2-compass:before {
	content: "\e053";
}
.icomoon2-lifesaver:before {
	content: "\e054";
}
.icomoon2-clock2:before {
	content: "\e055";
}
.icomoon2-aperture:before {
	content: "\e056";
}
.icomoon2-quote:before {
	content: "\e057";
}
.icomoon2-scope:before {
	content: "\e058";
}
.icomoon2-alarmclock:before {
	content: "\e059";
}
.icomoon2-refresh2:before {
	content: "\e05a";
}
.icomoon2-happy:before {
	content: "\e05b";
}
.icomoon2-sad:before {
	content: "\e05c";
}
.icomoon2-facebook:before {
	content: "\e05d";
}
.icomoon2-twitter:before {
	content: "\e05e";
}
.icomoon2-googleplus:before {
	content: "\e05f";
}
.icomoon2-rss:before {
	content: "\e060";
}
.icomoon2-tumblr:before {
	content: "\e061";
}
.icomoon2-linkedin:before {
	content: "\e062";
}
.icomoon2-dribbble:before {
	content: "\e063";
}
.icomoon2-number:before {
	content: "\e68c";
}
.icomoon2-number2:before {
	content: "\e68d";
}
.icomoon2-number3:before {
	content: "\e68e";
}
.icomoon2-number4:before {
	content: "\e68f";
}
.icomoon2-number5:before {
	content: "\e690";
}
.icomoon2-number6:before {
	content: "\e691";
}
.icomoon2-number7:before {
	content: "\e692";
}
.icomoon2-number8:before {
	content: "\e693";
}
.icomoon2-number9:before {
	content: "\e694";
}
.icomoon2-number10:before {
	content: "\e695";
}
.icomoon2-number11:before {
	content: "\e696";
}
.icomoon2-number12:before {
	content: "\e697";
}
.icomoon2-number13:before {
	content: "\e698";
}
.icomoon2-number14:before {
	content: "\e699";
}
.icomoon2-number15:before {
	content: "\e69a";
}
.icomoon2-number16:before {
	content: "\e69b";
}
.icomoon2-number17:before {
	content: "\e69c";
}
.icomoon2-number18:before {
	content: "\e69d";
}
.icomoon2-number19:before {
	content: "\e69e";
}
.icomoon2-number20:before {
	content: "\e69f";
}
.icomoon2-quote2:before {
	content: "\e6a0";
}
.icomoon2-quote3:before {
	content: "\e6a1";
}
.icomoon2-tag2:before {
	content: "\e6a2";
}
.icomoon2-tag3:before {
	content: "\e6a3";
}
.icomoon2-link:before {
	content: "\e6a4";
}
.icomoon2-link2:before {
	content: "\e6a5";
}
.icomoon2-cabinet:before {
	content: "\e6a6";
}
.icomoon2-cabinet2:before {
	content: "\e6a7";
}
.icomoon2-calendar3:before {
	content: "\e6a8";
}
.icomoon2-calendar4:before {
	content: "\e6a9";
}
.icomoon2-calendar5:before {
	content: "\e6aa";
}
.icomoon2-file2:before {
	content: "\e6ab";
}
.icomoon2-file3:before {
	content: "\e6ac";
}
.icomoon2-file4:before {
	content: "\e6ad";
}
.icomoon2-files2:before {
	content: "\e6ae";
}
.icomoon2-phone3:before {
	content: "\e6af";
}
.icomoon2-tablet3:before {
	content: "\e6b0";
}
.icomoon2-window2:before {
	content: "\e6b1";
}
.icomoon2-monitor:before {
	content: "\e6b2";
}
.icomoon2-ipod:before {
	content: "\e6b3";
}
.icomoon2-tv:before {
	content: "\e6b4";
}
.icomoon2-camera3:before {
	content: "\e6b5";
}
.icomoon2-camera4:before {
	content: "\e6b6";
}
.icomoon2-camera5:before {
	content: "\e6b7";
}
.icomoon2-film:before {
	content: "\e6b8";
}
.icomoon2-film2:before {
	content: "\e6b9";
}
.icomoon2-film3:before {
	content: "\e6ba";
}
.icomoon2-microphone2:before {
	content: "\e6bb";
}
.icomoon2-microphone3:before {
	content: "\e6bc";
}
.icomoon2-microphone4:before {
	content: "\e6bd";
}
.icomoon2-drink2:before {
	content: "\e6be";
}
.icomoon2-drink3:before {
	content: "\e6bf";
}
.icomoon2-drink4:before {
	content: "\e6c0";
}
.icomoon2-drink5:before {
	content: "\e6c1";
}
.icomoon2-coffee2:before {
	content: "\e6c2";
}
.icomoon2-mug2:before {
	content: "\e6c3";
}
.icomoon2-icecream:before {
	content: "\e6c4";
}
.icomoon2-cake:before {
	content: "\e6c5";
}
.icomoon2-inbox:before {
	content: "\e6c6";
}
.icomoon2-download3:before {
	content: "\e6c7";
}
.icomoon2-upload2:before {
	content: "\e6c8";
}
.icomoon2-inbox2:before {
	content: "\e6c9";
}
.icomoon2-checkmark2:before {
	content: "\e6ca";
}
.icomoon2-checkmark3:before {
	content: "\e6cb";
}
.icomoon2-cancel:before {
	content: "\e6cc";
}
.icomoon2-cancel2:before {
	content: "\e6cd";
}
.icomoon2-plus:before {
	content: "\e6ce";
}
.icomoon2-plus2:before {
	content: "\e6cf";
}
.icomoon2-minus:before {
	content: "\e6d0";
}
.icomoon2-minus2:before {
	content: "\e6d1";
}
.icomoon2-notice:before {
	content: "\e6d2";
}
.icomoon2-notice2:before {
	content: "\e6d3";
}
.icomoon2-cog:before {
	content: "\e6d4";
}
.icomoon2-cogs:before {
	content: "\e6d5";
}
.icomoon2-cog2:before {
	content: "\e6d6";
}
.icomoon2-warning:before {
	content: "\e6d7";
}
.icomoon2-health2:before {
	content: "\e6d8";
}
.icomoon2-suitcase:before {
	content: "\e6d9";
}
.icomoon2-suitcase2:before {
	content: "\e6da";
}
.icomoon2-suitcase3:before {
	content: "\e6db";
}
.icomoon2-picture2:before {
	content: "\e6dc";
}
.icomoon2-pictures2:before {
	content: "\e6dd";
}
.icomoon2-pictures3:before {
	content: "\e6de";
}
.icomoon2-android:before {
	content: "\e6df";
}
.icomoon2-marvin:before {
	content: "\e6e0";
}
.icomoon2-pacman:before {
	content: "\e6e1";
}
.icomoon2-cassette:before {
	content: "\e6e2";
}
.icomoon2-watch:before {
	content: "\e6e3";
}
.icomoon2-chronometer:before {
	content: "\e6e4";
}
.icomoon2-watch2:before {
	content: "\e6e5";
}
.icomoon2-alarmclock2:before {
	content: "\e6e6";
}
.icomoon2-time:before {
	content: "\e6e7";
}
.icomoon2-time2:before {
	content: "\e6e8";
}
.icomoon2-headphones:before {
	content: "\e6e9";
}
.icomoon2-wallet2:before {
	content: "\e6ea";
}
.icomoon2-checkmark4:before {
	content: "\e6eb";
}
.icomoon2-cancel3:before {
	content: "\e6ec";
}
.icomoon2-eye:before {
	content: "\e6ed";
}
.icomoon2-position:before {
	content: "\e6ee";
}
.icomoon2-sitemap:before {
	content: "\e6ef";
}
.icomoon2-sitemap2:before {
	content: "\e6f0";
}
.icomoon2-cloud3:before {
	content: "\e6f1";
}
.icomoon2-upload3:before {
	content: "\e6f2";
}
.icomoon2-chart2:before {
	content: "\e6f3";
}
.icomoon2-chart3:before {
	content: "\e6f4";
}
.icomoon2-chart4:before {
	content: "\e6f5";
}
.icomoon2-chart5:before {
	content: "\e6f6";
}
.icomoon2-chart6:before {
	content: "\e6f7";
}
.icomoon2-chart7:before {
	content: "\e6f8";
}
.icomoon2-location:before {
	content: "\e6f9";
}
.icomoon2-download4:before {
	content: "\e6fa";
}
.icomoon2-basket2:before {
	content: "\e6fb";
}
.icomoon2-folder2:before {
	content: "\e6fc";
}
.icomoon2-gamepad:before {
	content: "\e6fd";
}
.icomoon2-alarm:before {
	content: "\e6fe";
}
.icomoon2-alarm-cancel:before {
	content: "\e6ff";
}
.icomoon2-phone4:before {
	content: "\e700";
}
.icomoon2-phone5:before {
	content: "\e701";
}
.icomoon2-image2:before {
	content: "\e702";
}
.icomoon2-open:before {
	content: "\e703";
}
.icomoon2-sale:before {
	content: "\e704";
}
.icomoon2-direction:before {
	content: "\e705";
}
.icomoon2-map3:before {
	content: "\e706";
}
.icomoon2-trashcan2:before {
	content: "\e707";
}
.icomoon2-vote:before {
	content: "\e708";
}
.icomoon2-graduate:before {
	content: "\e709";
}
.icomoon2-lab2:before {
	content: "\e70a";
}
.icomoon2-tie:before {
	content: "\e70b";
}
.icomoon2-football:before {
	content: "\e70c";
}
.icomoon2-eightball:before {
	content: "\e70d";
}
.icomoon2-bowling:before {
	content: "\e70e";
}
.icomoon2-bowlingpin:before {
	content: "\e70f";
}
.icomoon2-baseball:before {
	content: "\e710";
}
.icomoon2-soccer:before {
	content: "\e711";
}
.icomoon2-3dglasses:before {
	content: "\e712";
}
.icomoon2-microwave:before {
	content: "\e713";
}
.icomoon2-refrigerator:before {
	content: "\e714";
}
.icomoon2-oven:before {
	content: "\e715";
}
.icomoon2-washingmachine:before {
	content: "\e716";
}
.icomoon2-mouse:before {
	content: "\e717";
}
.icomoon2-smiley:before {
	content: "\e718";
}
.icomoon2-sad2:before {
	content: "\e719";
}
.icomoon2-mute2:before {
	content: "\e71a";
}
.icomoon2-hand:before {
	content: "\e71b";
}
.icomoon2-radio:before {
	content: "\e71c";
}
.icomoon2-satellite:before {
	content: "\e71d";
}
.icomoon2-medal:before {
	content: "\e71e";
}
.icomoon2-medal2:before {
	content: "\e71f";
}
.icomoon2-switch2:before {
	content: "\e720";
}
.icomoon2-key2:before {
	content: "\e721";
}
.icomoon2-cord:before {
	content: "\e722";
}
.icomoon2-locked:before {
	content: "\e723";
}
.icomoon2-unlocked3:before {
	content: "\e724";
}
.icomoon2-locked2:before {
	content: "\e725";
}
.icomoon2-unlocked4:before {
	content: "\e726";
}
.icomoon2-magnifier:before {
	content: "\e727";
}
.icomoon2-zoomin2:before {
	content: "\e728";
}
.icomoon2-zoomout2:before {
	content: "\e729";
}
.icomoon2-stack2:before {
	content: "\e72a";
}
.icomoon2-stack3:before {
	content: "\e72b";
}
.icomoon2-stack4:before {
	content: "\e72c";
}
.icomoon2-davidstar:before {
	content: "\e72d";
}
.icomoon2-cross:before {
	content: "\e72e";
}
.icomoon2-moonandstar:before {
	content: "\e72f";
}
.icomoon2-transformers:before {
	content: "\e730";
}
.icomoon2-batman:before {
	content: "\e731";
}
.icomoon2-spaceinvaders:before {
	content: "\e732";
}
.icomoon2-skeletor:before {
	content: "\e733";
}
.icomoon2-lamp:before {
	content: "\e734";
}
.icomoon2-lamp2:before {
	content: "\e735";
}
.icomoon2-umbrella:before {
	content: "\e736";
}
.icomoon2-streetlight:before {
	content: "\e737";
}
.icomoon2-bomb:before {
	content: "\e738";
}
.icomoon2-archive2:before {
	content: "\e739";
}
.icomoon2-battery:before {
	content: "\e73a";
}
.icomoon2-battery2:before {
	content: "\e73b";
}
.icomoon2-battery3:before {
	content: "\e73c";
}
.icomoon2-battery4:before {
	content: "\e73d";
}
.icomoon2-battery5:before {
	content: "\e73e";
}
.icomoon2-megaphone2:before {
	content: "\e73f";
}
.icomoon2-megaphone3:before {
	content: "\e740";
}
.icomoon2-patch:before {
	content: "\e741";
}
.icomoon2-pil:before {
	content: "\e742";
}
.icomoon2-injection:before {
	content: "\e743";
}
.icomoon2-thermometer:before {
	content: "\e744";
}
.icomoon2-lamp3:before {
	content: "\e745";
}
.icomoon2-lamp4:before {
	content: "\e746";
}
.icomoon2-lamp5:before {
	content: "\e747";
}
.icomoon2-cube2:before {
	content: "\e748";
}
.icomoon2-box2:before {
	content: "\e749";
}
.icomoon2-box3:before {
	content: "\e74a";
}
.icomoon2-diamond2:before {
	content: "\e74b";
}
.icomoon2-bag2:before {
	content: "\e74c";
}
.icomoon2-moneybag:before {
	content: "\e74d";
}
.icomoon2-grid3:before {
	content: "\e74e";
}
.icomoon2-grid4:before {
	content: "\e74f";
}
.icomoon2-list2:before {
	content: "\e750";
}
.icomoon2-list3:before {
	content: "\e751";
}
.icomoon2-ruler:before {
	content: "\e752";
}
.icomoon2-ruler2:before {
	content: "\e753";
}
.icomoon2-layout:before {
	content: "\e754";
}
.icomoon2-layout2:before {
	content: "\e755";
}
.icomoon2-layout3:before {
	content: "\e756";
}
.icomoon2-layout4:before {
	content: "\e757";
}
.icomoon2-layout5:before {
	content: "\e758";
}
.icomoon2-layout6:before {
	content: "\e759";
}
.icomoon2-layout7:before {
	content: "\e75a";
}
.icomoon2-layout8:before {
	content: "\e75b";
}
.icomoon2-layout9:before {
	content: "\e75c";
}
.icomoon2-layout10:before {
	content: "\e75d";
}
.icomoon2-layout11:before {
	content: "\e75e";
}
.icomoon2-layout12:before {
	content: "\e75f";
}
.icomoon2-layout13:before {
	content: "\e760";
}
.icomoon2-layout14:before {
	content: "\e761";
}
.icomoon2-tools2:before {
	content: "\e762";
}
.icomoon2-screwdriver:before {
	content: "\e763";
}
.icomoon2-paint:before {
	content: "\e764";
}
.icomoon2-hammer:before {
	content: "\e765";
}
.icomoon2-brush:before {
	content: "\e766";
}
.icomoon2-pen:before {
	content: "\e767";
}
.icomoon2-chat3:before {
	content: "\e768";
}
.icomoon2-comments:before {
	content: "\e769";
}
.icomoon2-chat4:before {
	content: "\e76a";
}
.icomoon2-chat5:before {
	content: "\e76b";
}
.icomoon2-volume2:before {
	content: "\e76c";
}
.icomoon2-volume3:before {
	content: "\e76d";
}
.icomoon2-volume4:before {
	content: "\e76e";
}
.icomoon2-equalizer:before {
	content: "\e76f";
}
.icomoon2-resize:before {
	content: "\e770";
}
.icomoon2-resize2:before {
	content: "\e771";
}
.icomoon2-stretch:before {
	content: "\e772";
}
.icomoon2-narrow:before {
	content: "\e773";
}
.icomoon2-resize3:before {
	content: "\e774";
}
.icomoon2-download5:before {
	content: "\e775";
}
.icomoon2-calculator2:before {
	content: "\e776";
}
.icomoon2-library:before {
	content: "\e777";
}
.icomoon2-auction:before {
	content: "\e778";
}
.icomoon2-justice:before {
	content: "\e779";
}
.icomoon2-stats:before {
	content: "\e77a";
}
.icomoon2-stats2:before {
	content: "\e77b";
}
.icomoon2-attachment2:before {
	content: "\e77c";
}
.icomoon2-hourglass2:before {
	content: "\e77d";
}
.icomoon2-abacus:before {
	content: "\e77e";
}
.icomoon2-pencil3:before {
	content: "\e77f";
}
.icomoon2-pen2:before {
	content: "\e780";
}
.icomoon2-pin:before {
	content: "\e781";
}
.icomoon2-pin2:before {
	content: "\e782";
}
.icomoon2-discout:before {
	content: "\e783";
}
.icomoon2-edit2:before {
	content: "\e784";
}
.icomoon2-scissors2:before {
	content: "\e785";
}
.icomoon2-profile:before {
	content: "\e786";
}
.icomoon2-profile2:before {
	content: "\e787";
}
.icomoon2-profile3:before {
	content: "\e788";
}
.icomoon2-rotate:before {
	content: "\e789";
}
.icomoon2-rotate2:before {
	content: "\e78a";
}
.icomoon2-reply:before {
	content: "\e78b";
}
.icomoon2-forward:before {
	content: "\e78c";
}
.icomoon2-retweet:before {
	content: "\e78d";
}
.icomoon2-shuffle:before {
	content: "\e78e";
}
.icomoon2-loop:before {
	content: "\e78f";
}
.icomoon2-crop2:before {
	content: "\e790";
}
.icomoon2-square:before {
	content: "\e791";
}
.icomoon2-square2:before {
	content: "\e792";
}
.icomoon2-circle:before {
	content: "\e793";
}
.icomoon2-dollar:before {
	content: "\e794";
}
.icomoon2-dollar2:before {
	content: "\e795";
}
.icomoon2-coins:before {
	content: "\e796";
}
.icomoon2-pig:before {
	content: "\e797";
}
.icomoon2-bookmark2:before {
	content: "\e798";
}
.icomoon2-bookmark3:before {
	content: "\e799";
}
.icomoon2-addressbook:before {
	content: "\e79a";
}
.icomoon2-addressbook2:before {
	content: "\e79b";
}
.icomoon2-safe:before {
	content: "\e79c";
}
.icomoon2-envelope3:before {
	content: "\e79d";
}
.icomoon2-envelope4:before {
	content: "\e79e";
}
.icomoon2-radioactive:before {
	content: "\e79f";
}
.icomoon2-music:before {
	content: "\e7a0";
}
.icomoon2-presentation2:before {
	content: "\e7a1";
}
.icomoon2-male:before {
	content: "\e7a2";
}
.icomoon2-female:before {
	content: "\e7a3";
}
.icomoon2-aids:before {
	content: "\e7a4";
}
.icomoon2-heart3:before {
	content: "\e7a5";
}
.icomoon2-info:before {
	content: "\e7a6";
}
.icomoon2-info2:before {
	content: "\e7a7";
}
.icomoon2-piano:before {
	content: "\e7a8";
}
.icomoon2-rain:before {
	content: "\e7a9";
}
.icomoon2-snow:before {
	content: "\e7aa";
}
.icomoon2-lightning:before {
	content: "\e7ab";
}
.icomoon2-sun2:before {
	content: "\e7ac";
}
.icomoon2-moon:before {
	content: "\e7ad";
}
.icomoon2-cloudy:before {
	content: "\e7ae";
}
.icomoon2-cloudy2:before {
	content: "\e7af";
}
.icomoon2-car:before {
	content: "\e7b0";
}
.icomoon2-bike2:before {
	content: "\e7b1";
}
.icomoon2-truck:before {
	content: "\e7b2";
}
.icomoon2-bus:before {
	content: "\e7b3";
}
.icomoon2-bike3:before {
	content: "\e7b4";
}
.icomoon2-plane:before {
	content: "\e7b5";
}
.icomoon2-paperplane:before {
	content: "\e7b6";
}
.icomoon2-rocket:before {
	content: "\e7b7";
}
.icomoon2-book3:before {
	content: "\e7b8";
}
.icomoon2-book4:before {
	content: "\e7b9";
}
.icomoon2-barcode:before {
	content: "\e7ba";
}
.icomoon2-barcode2:before {
	content: "\e7bb";
}
.icomoon2-expand2:before {
	content: "\e7bc";
}
.icomoon2-collapse:before {
	content: "\e7bd";
}
.icomoon2-popout:before {
	content: "\e7be";
}
.icomoon2-popin:before {
	content: "\e7bf";
}
.icomoon2-target2:before {
	content: "\e7c0";
}
.icomoon2-badge:before {
	content: "\e7c1";
}
.icomoon2-badge2:before {
	content: "\e7c2";
}
.icomoon2-ticket:before {
	content: "\e7c3";
}
.icomoon2-ticket2:before {
	content: "\e7c4";
}
.icomoon2-ticket3:before {
	content: "\e7c5";
}
.icomoon2-microphone5:before {
	content: "\e7c6";
}
.icomoon2-cone:before {
	content: "\e7c7";
}
.icomoon2-blocked:before {
	content: "\e7c8";
}
.icomoon2-stop:before {
	content: "\e7c9";
}
.icomoon2-keyboard:before {
	content: "\e7ca";
}
.icomoon2-keyboard2:before {
	content: "\e7cb";
}
.icomoon2-radio2:before {
	content: "\e7cc";
}
.icomoon2-printer3:before {
	content: "\e7cd";
}
.icomoon2-checked:before {
	content: "\e7ce";
}
.icomoon2-error:before {
	content: "\e7cf";
}
.icomoon2-add:before {
	content: "\e7d0";
}
.icomoon2-minus3:before {
	content: "\e7d1";
}
.icomoon2-alert:before {
	content: "\e7d2";
}
.icomoon2-pictures4:before {
	content: "\e7d3";
}
.icomoon2-atom2:before {
	content: "\e7d4";
}
.icomoon2-eyedropper2:before {
	content: "\e7d5";
}
.icomoon2-globe2:before {
	content: "\e7d6";
}
.icomoon2-globe3:before {
	content: "\e7d7";
}
.icomoon2-shipping:before {
	content: "\e7d8";
}
.icomoon2-yingyang:before {
	content: "\e7d9";
}
.icomoon2-compass2:before {
	content: "\e7da";
}
.icomoon2-zip:before {
	content: "\e7db";
}
.icomoon2-zip2:before {
	content: "\e7dc";
}
.icomoon2-anchor2:before {
	content: "\e7dd";
}
.icomoon2-lockedheart:before {
	content: "\e7de";
}
.icomoon2-magnet:before {
	content: "\e7df";
}
.icomoon2-navigation:before {
	content: "\e7e0";
}
.icomoon2-tags:before {
	content: "\e7e1";
}
.icomoon2-heart4:before {
	content: "\e7e2";
}
.icomoon2-heart5:before {
	content: "\e7e3";
}
.icomoon2-usb:before {
	content: "\e7e4";
}
.icomoon2-clipboard3:before {
	content: "\e7e5";
}
.icomoon2-clipboard4:before {
	content: "\e7e6";
}
.icomoon2-clipboard5:before {
	content: "\e7e7";
}
.icomoon2-switch3:before {
	content: "\e7e8";
}
.icomoon2-ruler3:before {
	content: "\e7e9";
}